<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.p_freesharing.p_freesharing">

    <application
        android:allowBackup="true"
        android:icon="@drawable/freesharing_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        
        <activity
            android:name=".ui.SharingFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        
        <service
            android:name=".helper.FreeShareService"
            android:enabled="true"/>
    </application>

</manifest>
